<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <title>Edit</title>
</head>
<style>
    * {
        margin: 0 0 0;
    }

    .header {
        width: 100vw;
        height: 10vh;
        display: flex;
        flex-direction: row;
        background-color: lightblue;
    }

    .logo {
        width: 10vw;
    }

    .heading {
        width: 85vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 40px;
    }
</style>
<body>
    <div class="header">
        <div class="logo">
            <img style="width:100%; height:100%" src="https://t3.ftcdn.net/jpg/05/14/36/48/360_F_514364850_xLOQX6SOY2qcjAIcTowsi3xYvHmhmvs0.jpg" />
        </div>
        <div class="heading">
            Hospital Management
        </div>
    </div>
    <hr />
    <div class="form-horizontal">
        <input type="hidden" id="HospitalId" value="" />
        <div class="form-group">
            <label class="control-label col-md-2" for="HospitalName">Hospital Name:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="HospitalName" name="HospitalName" value="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HospitalSpeciality">Hospital Speciality:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="HospitalSpeciality" name="HospitalSpeciality" value="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HospitalAddress">Hospital Address:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="HospitalAddress" name="HospitalAddress" value="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HospialCity">Hospital City:</label>
            <div class="col-md-3">
                <select class="form-control" id="HospialCity" name="HospialCity">
                    <option value=""></option>
                    <option value="Hyderabad">Hyderabad</option>
                    <option value="Delhi">Delhi</option>
                    <option value="Bhopal">Bhopal</option>
                    <option value="Indore">Indore</option>
                    <option value="Noida">Noida</option>
                    <option value="Bangalore">Bangalore</option>
                </select>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HospitalContactNumber">Contact Number:</label>
            <div class="col-md-3">
                <input type="text" class="form-control" id="HospitalContactNumber" name="HospitalContactNumber" value="" />
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="HospitalArea">Hospital Area:</label>
            <div class="col-md-3">
                <label class="checkbox-inline">
                    <input type="radio" name="HospitalArea" value="Urban" checked> Urban
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="HospitalArea" value="Rural"> Rural
                </label>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DateOfJoinin">Date of Joining:</label>
            <div class="col-md-3">
                <div class="input-group date" id="picker">
                    <input type="text" class="form-control" id="DateOfJoinin" name="DateOfJoinin" value="" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" value="Save" class="btn btn-dark">Save</button> |
                <a href="/Hospitals/Index">Back to List</a>
            </div>
        </div>
    </div>

    <div class="row col-md-12">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr style="background-color:lightpink">
                    <th> HospitalId</th>
                    <th> HospitalName </th>
                    <th> HospitalSpeciality</th>
                    <th> HospitalAddress</th>
                    <th> HospialCity</th>
                    <th> HospitalContactNumber</th>
                    <th> HospitalArea</th>
                    <th> DateOfJoinin</th>
                    <th> Actions</th>
                </tr>
                <tr style="background-color:lightcyan">
                    <td> HospitalIdValue</td>
                    <td> HospitalNameValue</td>
                    <td> HospitalSpecialityValue</td>
                    <td> HospitalAddressValue</td>
                    <td> HospialCityValue</td>
                    <td> HospitalContactNumberValue</td>
                    <td> HospitalAreaValue</td>
                    <td> DateOfJoininValue</td>
                    <td>
                        <a href="/Hospitals/Edit?id=HospitalIdValue">Edit</a> |
                        <a href="/Hospitals/Details?id=HospitalIdValue">Details</a> |
                        <a href="/Hospitals/Delete?id=HospitalIdValue">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <button>
        <a href="/Hospitals/Create">Create New</a>
    </button>

    <script>
        function HospitalViewModel() {
            var self = this;

            self.HospitalId = ko.observable("");
            self.HospitalName = ko.observable("");
            self.HospitalSpeciality = ko.observable("");
            self.HospitalAddress = ko.observable("");
            self.HospialCity = ko.observable("");
            self.HospitalContactNumber = ko.observable("");
            self.HospitalArea = ko.observable("");
            self.DateOfJoinin = ko.observable("");

            // Apply bindings
            ko.applyBindings(self);
        }

        $(function () {
            $('#picker').datetimepicker({
                format: 'YYYY/MM/DD HH:mm:ss',
                showClear: true,
                useCurrent: false
            });

            $('#picker').on('dp.change', function (e) {
                viewModel.DateOfJoinin(e.date.format('YYYY/MM/DD HH:mm:ss'));
            });
        });
        // Create view model instance
        var viewModel = new HospitalViewModel();
    </script>
</body>
</html>
